*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.touche-validé{
    height: 100%;
    width: 8.5%;
    border: gold 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;

}

.touche-z{
    height: 100%;
    width: 5.5%;
    border: gold 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;

}

.touche-x{
    height: 100%;
    width: 5.5%;
    border: gold 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.touche-c{
    height: 100%;
    width: 5.5%;
    border: gold 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.touche-v{
    height: 100%;
    width: 5.5%;
    border: gold 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.touche-b{
    height: 100%;
    width: 5.5%;
    border: gold 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.touche-n{
    height: 100%;
    width: 5.5%;
    border: gold 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.touche-m{
    height: 100%;
    width: 5.5%;
    border: gold 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.touche-verg{
    height: 100%;
    width: 5.5%;
    border: gold 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.touche-ptn{
    height: 100%;
    width: 5.5%;
    border: gold 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.touche-pnt-excalamation{
    height: 100%;
    width: 5.5%;
    border: gold 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}