*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.touche1{
    height: 100%;
    width: 5.5%;
    border: chocolate 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;

}

.touche2{
    height: 100%;
    width: 5.5%;
    border: chocolate 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;

}

.touche3{
    height: 100%;
    width: 5.5%;
    border: chocolate 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.touche4{
    height: 100%;
    width: 5.5%;
    border: chocolate 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.touche5{
    height: 100%;
    width: 5.5%;
    border: chocolate 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.touche6{
    height: 100%;
    width: 5.5%;
    border: chocolate 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.touche7{
    height: 100%;
    width: 5.5%;
    border: chocolate 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.touche8{
    height: 100%;
    width: 5.5%;
    border: chocolate 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.touche9{
    height: 100%;
    width: 5.5%;
    border: chocolate 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.touche0{
    height: 100%;
    width: 5.5%;
    border: chocolate 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.touche-sup{
    height: 100%;
    width: 8.5%;
    border: chocolate 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}